@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-navy-800: #1e293b;
  --color-navy-900: #0f172a;
  --color-navy-950: #0b0f19;

  --color-blueprint-light: #e0f2fe;
  --color-blueprint-blue: #0284c7;
  --color-blueprint-dark: #0369a1;
}

@layer base {
    body {
        @apply bg-white text-slate-800 font-sans antialiased;
    }

    ::selection {
        @apply bg-slate-800 text-white;
    }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.blueprint-line {
  stroke-dasharray: 6;
  animation: dash 30s linear infinite;
}
.section-reveal {
  opacity: 0;
  transform: translateY(40px) scale(0.98);
  transition:
  opacity 0.8s ease,
  transform 0.8s ease;
}

.section-reveal.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.blueprint-glow {
  filter: drop-shadow(0px 0px 4px rgba(2, 132, 199, 0.25));
}